{% extends "base.html" %}
{% block content %}
<div class="container">

<div class="jumbotron">

{% if homologado_id != 0 %}
<h1>Visualizar/Alterar detalhes do Homologado</h1>
{% else %}
<h1>Inserir detalhes de um Homologado</h1>
{% endif %}

{% macro render_field(field,obr) %}
  {% if obr == True %}
    <dt>{{ field.label(class="form-control-label") }}<span class="text-danger font-weight-bold">*</span>
  {% else %}
    <dt>{{ field.label(class="form-control-label") }}
  {% endif %}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li><span class="text-danger font-weight-bold">{{ error }}</span></li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

<form action="" method='POST' class="form" role="form">
  {{ form.hidden_tag() }}

  <div class="form-row">
    <div class="col-2">
      <div class="form-group">
        {{ render_field(form.prioridade,class="form-control", obr=True) }}
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        {{ render_field(form.nota,class="form-control", obr=False) }}
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-2">
      <div class="form-group">
        {{ render_field(form.cpf,class="form-control",obr=False) }}
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        {{ render_field(form.nome,class="form-control",obr=True) }}
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        {{ render_field(form.mod,class="form-control",obr=True) }}
        <small id="modHelp" class="form-text text-muted">Informe a modalidade da bolsa ou AUX para auxílios.</small>
      </div>
    </div>
    <div class="col-1">
      <div class="form-group">
        {{ render_field(form.niv,class="form-control",obr=False) }}
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-10">
      <div class="form-group">
        {{ render_field(form.titulo,class="form-control",obr=False) }}
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-4">
      <div class="form-group">
        {{ render_field(form.area,class="form-control",obr=False) }}
      </div>
    </div>
    <div class="col-2">
    </div>
    <div class="col-3">
      <div class="form-group">
        {{ render_field(form.valor,class="form-control",obr=False) }}
        <small id="valorHelp" class="form-text text-muted">Não informar moeda. Use . para separar milhar e , para separar centavos.</small>
      </div>
    </div>
  </div>


  <div class="form-group">
    {{ form.submit(class="btn btn-primary") }}<span class="text-muted"> Atenção: campos marcados com * são obrigatórios.</span>
  </div>
</form>


</div>
</div>



{% endblock %}
