{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class = 'jumbotron'>

  <div class="admin-view-users">
    <div class="page-header">
      <h3>Lista das unidades</h3>
    </div>

    {% if current_user.is_authenticated %}
    <div class="row">
      <div class="col">
        <a href="{{url_for('users.admin_insere_coord')}}" class="btn btn-primary" role="button" aria-pressed="false">
          <abbr title="Inserir um novo registro na lista abaixo.">Inserir nova</a>
      </div>
    </div>
    {% endif %}
    <br>

    <div style="overflow-y: auto; height:600px">
      <table class="table table-striped" id="admin_list_of_coords">
        <thead>
          <tr>
            <th>#</th>
            <th>Sigla</th>
            <th>Chefe</th>
            <th>Superior</th>
            </tr>
        </thead>
        <tbody>
          {% for c in coords %}
            <tr>
              <td> {{coords.index(c) + 1}} </td>
              <td> <a href="{{url_for('users.admin_update_coord', id=c.id)}}"><abbr title="Clique aqui atualizar">{{ c.sigla }} </abbr></td>
              <td> {% if c.chefe %} {{ c.chefe }} {% else %} N.I. {% endif %}</td>
              <td> {% if c.pai %} {{ c.pai }} {% else %} N.I. {% endif %}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  </div>
</div>
{% endblock %}
