{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="jumbotron">
    <h3>Sobre este sistema</h3>
    <p>Uma iniciativa que visa auxiliar o dia a dia no trabalho, por meio do registro e acompanhamento de demandas.
    </p>
    <p>O manual do usuário  está disponível aqui: <a class="label label-primary" href=/static/Manual_SISGEDEM.pdf target="_blank"  style="margin-right: 5px;">Sobre o SISGEDEM</a>.</p>
    <br>
    <h4>Demandas</h4>
    <p>
       Demandas compreendem tudo aquilo que é atribuído a um colaborador a título de trabalho. Esta atribuição pode ser feita pelo chefe,
       por um colega, ou pela própria pessoa.
       <br>O Plano de Trabalho comporta as macro atividades da unidade, identificando para cada atividade os seus respectivos responsáveis, ou pontos 
       focais.
       <br>Toda a demanda pode ter relação com uma atividaade do Plano de Trabalho. Com relação a um processo, esta relação é obrigatória. 
       Surgindo uma demanda que não tenha relação com um processo, seja qual for o tipo.
       Detalhes básicos de um processo podem ser registrados em Objetos.
       A relação demanda-processo, ou demanda-objeto, nesta direção, é unívoca, ou seja, não podemos ter uma mesma demanda que corresponda a 
       vários processos, são sempre várias demandas para vários processos.
       Um processo, contudo, pode ter várias demandas a ele associadas.
       <br>Quem abre uma demanda tem a incumbência de concluí-la. Em casos excepcionais, como uma ausência prolongada do responsável,
        o chefe pode encerrar uma demanda.
       <br>Podemos registrar providências (ações) tomadas nas nossas e nas demandas dos colegas.
       <br>Em princípio, o chefe não deveria registrar providências, pois este é responsável pelos despachos. De qualquer forma, não é vedado,
       pois o chefe pode gerenciar suas próprias demandas.
      <br>
       Sob estas premissas, o sistema permite o regisro, acompanhamento e consulta de demandas, respectivas providências e
       despachos, fornecendo estatísticas básicas sobre o trabalho realizado e um diário do uso do sistema, o que é bem útil para a
       elaboração de relatórios de atividades.



  </div>
</div>

{% endblock %}
