{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h5>Lista dos Projetos no(a) <b>{{chamada.chamada}}</b></h5>

  {% if current_user.is_authenticated %}
    <div class="row">
      <div class="col">
        <a href="{{url_for('core.edita_homologado',chamada_id=chamada_id,homologado_id=0)}}" class="btn btn-primary" role="button" aria-pressed="false">
          <abbr title="Inserir um novo registro na lista abaixo.">Inserir novo</a>
      </div>
      <div class="col">
        <a href="{{url_for('core.carrega_homologados',chamada_id=chamada_id)}}" class="btn btn-success" role="button" aria-pressed="false">
          <abbr title="Inserir vários registros de um arquivo Excel.">Carregar lista</a>
      </div>
    </div>
  {% endif %}
<br>

<caption>
  <div class="row">
      <div class="col">
        <p>Lista dos <span class="badge badge-pill badge-primary">{{qtd_homologados}}</span> projetos/bolsistas.</p>
      </div>
  </div>
</caption>

  <table class="table table-striped table-hover table-sm">
    <caption>Projetos/bolsistas</caption>
    <thead>
      <tr>
        <th scope="col"><p align = "center">#</p></th>
        <th scope="col"><p align = "center">Prioridade</p></th>
        <th scope="col"><p align = "center">Nota</p></th>
        <th scope="col"><p align = "center">CPF</p></th>
        <th scope="col"><p align = "left">Nome</p></th>
        <th scope="col"><p align = "center">Modalidade</p></th>
        <th scope="col"><p align = "center">Nível</p></th>
        <th scope="col"><p align = "left"><abbr title="Campo truncado. Passe o cursor para ver texto completo.">Título</p></th>
        <th scope="col"><p align = "left">Área</p></th>
        <th scope="col"><p align = "center"><abbr title="Capital e Custeio, quando houver.">Valor</p></th>
      </tr>
    </thead>
    <tbody>
      {% for homologado in homologados %}
        <tr>
          <th scope="row"><p align = "center">
            {% if current_user.is_authenticated %}
              <abbr title="ATENÇÃO!! CLIQUE NESTE BOTÃO PARA DELETAR O REGISTRO.">
              <button type="button" class="btn btn-danger" data-toggle='modal' data-target='#del_modal{{homologado.id}}'>{{homologados.index(homologado) + 1}}</button>

              {# modal para deleção de homologado #}

              <div class="modal" tabindex="-1" role="dialog" id="del_modal{{homologado.id}}">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <div class="p-3 mb-2 bg-danger text-white">
                      <h5 class="modal-title">Deletar registro?</h5>
                      </div>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Deseja realmente deletar este registro da lista de homologados?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                      <form action="{{url_for('core.deleta_homologado',chamada_id=homologado.chamada_id,homologado_id=homologado.id)}}" method="post">
                        <input class="btn btn-danger" type="submit" name="" value="Excluir">
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            {% else %}
              {{homologados.index(homologado) + 1}}
            {% endif %}
          </p></th>

          <td><p align = "center"> {{homologado.prioridade}} </p></td>
          <td><p align = "center"> {% if homologado.nota != None and homologado.nota != '' %}
                                     {{(homologado.nota|string()).replace(',','').replace('.',',')}}
                                   {% else %}
                                     {{homologado.nota}}
                                   {% endif %}   </p></td>
          <td><p align = "center"> {{homologado.cpf}} </p></td>
          <td><p align = "left"><a href="{{url_for('core.edita_homologado',chamada_id=homologado.chamada_id,homologado_id=homologado.id)}}"><abbr title="Clique aqui editar este registro"> {{homologado.nome}} </p></td>
          <td><p align = "center"> {{homologado.mod}} </p></td>
          <td><p align = "center">  {{homologado.niv}} </p></td>
          <td><p align = "left"><abbr title="{{homologado.titulo}}"><span class="d-inline-block text-truncate" style="max-width: 400px;">{{homologado.titulo}}</span></p></td>
          <td><p align = "left"><abbr title="{{homologado.area}}"><span class="d-inline-block text-truncate" style="max-width: 200px;"> {{homologado.area}}</span></p></td>
          <td><p align = "right"> {% if homologado.valor != None and homologado.valor != '' %}
                                    {{homologado.valor|converte_para_real}}
                                  {% else %}
                                    {{homologado.valor}}
                                  {% endif %} </p></td>

        </tr>
      {% endfor %}

    </tbody>
  </table>

</div>

{% endblock %}
