/build
/dist
/instance/flask local.cfg
/__pycache__
/migrations
/project/__pycache__
/project/core/__pycache__
/project/demandas/__pycache__
/project/error_pages/__pycache__
/project/objetos/__pycache__
/project/users/__pycache__
/compose.yaml