{% extends "base.html" %}
{% block content %}
<div class="container">

    <div align = 'center'>
      <h2>{{usuario.username}} - {{usuario.coord}}</h2>
      <br>
    </div>

  <div class="row">

  <div class="col">
    <div class="card border-success mb-4">
    <div class="card bg-light mb-3">
    <div class="card-header"><div class="text-success">Estatísticas</div></div>
      <div class="card-body">
        <p>Registrado em: {{ usuario.registered_on.strftime('%x') }} -
        {% if usuario.last_logged_in != None %}
          Ultimo acesso: {{ usuario.last_logged_in.strftime('%c') }}
        {% else %}
          Primeiro acesso. Bem Vindo!
        {% endif %}
        </p>
        <div class="list-group">
          <p><ins>Demandas</ins></p>
          <p>Registradas: <b>{{qtd_demandas}}</b> -
             Concluídas: <b>{{qtd_demandas_conclu}} ({{percent_conclu}} %)</b> -
             Vida média: <b>{{vida_m}} dias</b></p>
          <p>Prazo médio dos despachos em suas demandas: <b>{{desp_m}} dias</b></p>
          <p></p>
          <p><ins>Últimos 12 meses</ins></p>
          <p>Demandas (quantidades)</p>
          <table class="table table-bordered table-sm">
            <thead>
              <tr>
                <th scope="col"><p align = "center">Média mensal</p></th>
                <th scope="col"><p align = "center">Maior qtd.</p></th>
                <th scope="col"><p align = "center">Menor qtd.</p></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><p align = "center"> {{med_dm}} </p></td>
                <td><p align = "center"> {{max_dm}} em {{mes_max_dm[0]}}/{{mes_max_dm[1]}}</p></td>
                <td><p align = "center"> {{min_dm}} em {{mes_min_dm[0]}}/{{mes_min_dm[1]}}</p></td>
              </tr>
            </tbody>
          </table>

          <p>Providências (quantidades)</p>
          <table class="table table-bordered table-sm">
            <thead>
              <tr>
                <th scope="col"><p align = "center">Média mensal</p></th>
                <th scope="col"><p align = "center">Maior qtd.</p></th>
                <th scope="col"><p align = "center">Menor qtd.</p></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><p align = "center"> {{med_pr}} </p></td>
                <td><p align = "center"> {{max_pr}} em {{mes_max_pr[0]}}/{{mes_max_pr[1]}}</p></td>
                <td><p align = "center"> {{min_pr}} em {{mes_min_pr[0]}}/{{mes_min_pr[1]}}</p></td>
              </tr>
            </tbody>
          </table>

          <p>Horas dedicadas (<span class="text-primary">Esta semana: {{horas}}</span>)</p>
          <table class="table table-bordered table-sm">
            <thead>
              <tr>
                <th scope="col"><p align = "center">Média mensal</p></th>
                <th scope="col"><p align = "center">Maior qtd.</p></th>
                <th scope="col"><p align = "center">Menor qtd.</p></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><p align = "center"> {{med_hd}} </p></td>
                <td><p align = "center"> {{max_hd}} em {{mes_max_hd[0]}}/{{mes_max_hd[1]}}</p></td>
                <td><p align = "center"> {{min_hd}} em {{mes_min_hd[0]}}/{{mes_min_hd[1]}}</p></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
  </div>

</div>
{% endblock %}
