{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h5><b>Plano de Trabalho (Atividades)</b></h5>

  {% if current_user.is_authenticated %}
    {% if current_user.despacha == 1 or current_user.despacha0 == 1 or current_user.despacha2 == 1 or current_user.role[0:5] == "admin" %}
      <div>
        <a href="{{url_for('demandas.cria_atividade')}}" class="btn btn-outline-primary" role="button" aria-pressed="true">Inserir Atividade</a>
        <small class="form-text text-muted">Ou clique em um número de sequência para alterar atividade existente.</small>
      </div>
    {% endif %}
  {% endif %}
  <br>

<caption>
  <div class="row">
      <div class="col">
        <p>Lista das <span class="badge badge-pill badge-primary">{{quantidade}}</span> atividades.</p>
      </div>
  </div>
</caption>

<div class="container" style="overflow-y: auto; height:400px">

  <table id="table"
        data-toggle="table"
        data-show-search-clear-button="true"
        data-sortable="true"
        classes="table-sm"
        data-show-columns="true"
        data-show-columns-toggle-all="true"
        class="table table-striped table-hover table-sm">
    <caption>Plano de Trabalho</caption>
    <thead>
      <tr>
        <th scope="col"><p align = "center">#</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Unidade</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Sigla</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Descrição</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Natureza</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Meta (h/sem.)</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Titular</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Suplente</p></th>
      </tr>
    </thead>
    <tbody>

      {% for atividade in atividades %}

      <tr>
        {% if current_user.despacha == 1 or current_user.despacha0 == 1 or current_user.despacha2 == 1 or current_user.role[0:5] == "admin" %}
          <th scope="row"><p align = "center"><a href="{{url_for('demandas.update_plano_trabalho', id=atividade.id)}}"> {{atividades.index(atividade) + 1}} </a></p></th>
        {% else %}
          <th scope="row"><p align = "center"> {{atividades.index(atividade) + 1}} </p></th>
        {% endif %}
        <td><p align = "center"> {{atividade.unidade}} </p></td>
        <td><p align = "center"> {{atividade.atividade_sigla}} </p></td>
        <td><p align = "left">   {{atividade.atividade_desc}} </p></td>
        <td><p align = "center"> {{atividade.natureza}} </p></td>
        <td><p align = "center"> {{atividade.meta}} </p></td>
        {% if atividade.status != 'Desativada' %}
          {% if atividade.titular == None %}
            <td><p align = "center"> Não há </p></td>
          {% else %}
            <td><p align = "center"> {{atividade.titular}} </p></td>
          {% endif %}
          {% if atividade.suplente == None %}
            <td><p align = "center"> Não há </p></td>
          {% else %}
            <td><p align = "center"> {{atividade.suplente}} </p></td>
          {% endif %}
        {% else %}
          <td><p align = "center"> DESATIVADA </p></td>
          <td><p align = "center"> DESATIVADA </p></td>
        {% endif %}
      </tr>

      {% endfor %}

    </tbody>
  </table>

</div>

</div>
{% endblock %}
