{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h5>Lista dos Programas de Convênio (SICONV)</h5>

  {% if current_user.is_authenticated %}
    <div>
      <small class="form-text text-muted">Clique em um número de sequência para acrescentar dados ao programa.</small>
    </div>
  {% endif %}
  <br>

<caption>
  <div class="row">
      <div class="col">
        <p>Lista dos <span class="badge badge-pill badge-primary">{{quantidade}}</span> programas relacionados à Instituição: {{cod_inst}}</p>
      </div>
  </div>
</caption>

<div class="container"  style="overflow-y:auto ; height:450px">
  <table class="table table-striped table-hover table-sm">
    <caption>Programas da Instituição {{cod_inst}}</caption>
    <thead>
      <tr>
        <th scope="col"><p align = "center">#</p></th>
        <th scope="col"><p align = "center">Programa</p></th>
        <th scope="col"><p align = "center">Nome</p></th>
        <th scope="col"><p align = "center">Situação</p></th>
        <th scope="col"><p align = "center">Ano</p></th>
        <th scope="col"><p align = "center">Sigla</p></th>
        <th scope="col"><p align = "center">Coordenação</p></th>
      </tr>
    </thead>
    <tbody>
      {% for prog in progs %}

      <tr>
        <th scope="row"><abbr title="Acrescentar dados ao programa.">
          <p align = "center"><a href="{{url_for('convenios.prog_pref_update', cod_prog=prog.COD_PROGRAMA)}}"> {{progs.index(prog) + 1}} </a>
        </p></th>
        <td><p align = "center"> {{prog.COD_PROGRAMA}} </p></td>
        <td><p align = "center"> {{prog.NOME_PROGRAMA}} </p></td>
        <td><p align = "center"> {{prog.SIT_PROGRAMA}} </p></td>
        <td><p align = "center"> {{prog.ANO_DISPONIBILIZACAO}} </p></td>
        <td><p align = "center"> {% if prog.sigla == None %}N.I.{% else %}{{prog.sigla}}{% endif %} </p></td>
        <td><p align = "center"> {% if prog.coord == None %}N.I.{% else %}{{prog.coord}}{% endif %} </p></td>
      </tr>

      {% endfor %}

    </tbody>
  </table>

</div>

</div>
{% endblock %}
