{% extends "base.html" %}
{% block content %}

<div class="jumbotron">



      <div class="row">

        <div class="col">
          <h5>Lista de Convênios</h5>
        </div>

        <div class="col">
          <form class="form-group" method='POST'>
            {{ form.hidden_tag() }}
              <div class="row">
                <div class="col-3">
                  {{ form.coord(class="form-control form-control-sm") }}
                </div>
                <div class="col">
                  {{ form.submit(class="btn btn-outline-primary btn-sm") }}
                </div>
              </div>
          </form>
        </div>

      </div>


<caption>
  <div class="row">
      <div class="col-8">
        <p>Lista dos <span class="badge badge-pill badge-primary">{{quantidade}}</span> convênios cadastrados no SICONV
          {% if lista == 'todos' %}
            <span class="text-info font-weight-bold">(todos)</span>
          {% endif %}
          {% if lista == 'em execução' %}
            <span class="text-info font-weight-bold">(em execução)</span>
          {% endif %}
          {% if lista[:8] == 'programa' %}
            <span class="text-info font-weight-bold">({{lista[8:]}})</span>
          {% endif %}
        </p>
      </div>
      <div class="col">
        <p align="right"><span class="text-secondary">Dados de </span>
          <span class="badge badge-pill badge-info">{{data_carga[8:]+'/'+data_carga[5:7]+'/'+data_carga[0:4]}}</span></p>
      </div>
      <div class = "col">
        <p align="right"><a href=/static/convenios.csv class="btn btn-outline-primary" role="button" aria-pressed="true">Download do csv</a></p>
      </div>
  </div>
</caption>

<div style="overflow-y:scroll ; height:500px">

  <table id="table"
        data-toggle="table"
        data-filter-control="true"
        data-show-search-clear-button="true"
        data-sortable="true"
        classes="table-sm"
        data-show-columns="true"
        data-show-columns-toggle-all="true"
        class="table table-striped table-hover table-sm">
    {% if lista == 'todos' %}
      <caption>Convênios (todos)</caption>
    {% endif %}
    {% if lista == 'vencendo' %}
      <caption>Convênios (com vencimento em menos de 90 dias)</caption>
    {% endif %}
    {% if lista == 'em execução' %}
      <caption>Convênios (em execução)</caption>
    {% endif %}
    <thead>
      <tr>
        <th scope="col"><p align = "center">#</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Convênio</p></th>
        <th scope="col" data-field="Ano" data-filter-control="input" data-sortable="true"><p align = "center">Ano</p></th>
        <th scope="col" data-field="coord" data-filter-control="input" data-sortable="true"><p align = "center">Coord.</p></th>
        <th scope="col" data-sortable="true"><p align = "center"><abbr title="Clique no NUP para ver as demandas do processo.">SEI</abbr></p></th>
        <th scope="col" data-field="EP" data-filter-control="input" data-sortable="true"><p align = "center">EP</p></th>
        <th scope="col" data-field="UF" data-filter-control="input" data-sortable="true"><p align = "center">UF</p></th>
        <th scope="col" data-field="Programa" data-filter-control="input" data-sortable="true"><p align = "center">Programa</p></th>
        <th scope="col" data-field="Situação" data-filter-control="input" data-sortable="true"><p align = "center">Situação</p></th>
        <th scope="col"><p align = "center">Subsituação</p></th>
        <th scope="col" data-sortable="true"><p align = "center"><abbr title="Vermelho: vence em menos de 30 dias. Laranja: vence em menos de 60 dias. Cinza: vence em menos de 90 dias.">Final de Vigência</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Repasse</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Desemb. (% exec.)</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Contrap.</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Ingr. Contrap. (% exec.)</p></th>
      </tr>
    </thead>

    <tbody>

      {% for conv in convenio %}

      <tr>
        <th scope="row"><p align = "center"> {{convenio.index(conv) + 1}}</p></th>

        <td><p align = "center"> <a href="{{url_for('convenios.convenio_detalhes', conv=conv.NR_CONVENIO)}}"> <abbr title="Clique aqui para ver detalhes do convênio">{{conv.NR_CONVENIO}} </abbr></a> </p></td>
        {% if conv.ANO_DISPONIBILIZACAO != None %}
          <td><p align = "center"> {{conv.ANO_DISPONIBILIZACAO}} </p></td>
        {% else %}
          <td><p align = "center"> N.I. </p></td>
        {% endif %}
        {% if conv.coord != None %}
        <td><p align = "center"> {{conv.coord}} </p></td>
        {% else %}
          <td><p align = "center"> N.I. </p></td>
        {% endif %}
        {% if conv.sei != None %}
          <td><p align = "center"> <a href="{{url_for('convenios.SEI_demandas', conv=conv.NR_CONVENIO)}}"><abbr title="Clique aqui para ver as demandas deste processo">{{conv.sei}}</abbr></a> </p></td>
        {% else %}
          <td><p align = "center"> N.I. </p></td>
        {% endif %}
        {% if conv.epe != None %}
        <td><p align = "center"> {{conv.epe}} </p></td>
        {% else %}
          <td><p align = "center"> N.I. </p></td>
        {% endif %}
        <td><p align = "center"> {{conv.UF_PROPONENTE}} </p></td>
        <td><p align = "center"> {{conv.sigla}} </p></td>
        <td><p align = "center"> {{conv.SIT_CONVENIO}} </p></td>
        <td><p align = "center"> {{conv.SUBSITUACAO_CONV}} </p></td>
        {% if conv.prazo <= 30 and conv.prazo >= 0 %}
          <td><p align = "center" class="bg-danger text-white font-weight-bold"> {{conv.DIA_FIM_VIGENC_CONV.strftime('%d/%m/%Y')}} </p></td>
        {% elif conv.prazo <= 60 and conv.prazo > 30 %}
          <td><p align = "center" class="bg-warning text-dark font-weight-bold"> {{conv.DIA_FIM_VIGENC_CONV.strftime('%d/%m/%Y')}} </p></td>
        {% elif conv.prazo <= 90 and conv.prazo > 60 %}
          <td><p align = "center" class="bg-secondary text-white font-weight-bold"> {{conv.DIA_FIM_VIGENC_CONV.strftime('%d/%m/%Y')}} </p></td>
        {% else %}
          <td><p align = "center"> 
            {% if conv.VL_CONTRAPARTIDA_CONV != None %}
              {{conv.DIA_FIM_VIGENC_CONV.strftime('%d/%m/%Y')}}
            {% else %} 
              N.I.
            {% endif %}
          </p></td>
        {% endif %}

        <td><p align = "right">
          {% if conv.VL_REPASSE_CONV != None %}
            {{conv.VL_REPASSE_CONV|converte_para_real}}
          {% else %} 
            0,00
          {% endif %}
        </p></td>

        <td><p align = "right">
          {% if conv.VL_DESEMBOLSADO_CONV != None %}
            {{conv.VL_DESEMBOLSADO_CONV|converte_para_real}}
          {% else %} 
            0,00
          {% endif %}

          {% if conv.VL_REPASSE_CONV == 0 or conv.VL_REPASSE_CONV == None %}
            (<span class="text-danger">0 %</span>)
          {% else %}
            {% if (100*conv.VL_DESEMBOLSADO_CONV/conv.VL_REPASSE_CONV) == 100 %}
              (<span class="text-success">{{(100*conv.VL_DESEMBOLSADO_CONV/conv.VL_REPASSE_CONV)|round|int}} %</span>)
            {% else %}
              (<span class="text-danger">{{(100*conv.VL_DESEMBOLSADO_CONV/conv.VL_REPASSE_CONV)|round|int}} %</span>)
            {% endif %}
          {% endif %}
        </p></td>

        <td><p align = "right"> 
          {% if conv.VL_CONTRAPARTIDA_CONV != None %}
            {{conv.VL_CONTRAPARTIDA_CONV|converte_para_real}}
          {% else %} 
            0,00
          {% endif %} 
        </p></td>

        <td><p align = "right"> 
          {% if conv.VL_INGRESSO_CONTRAPARTIDA != None %}
            {{conv.VL_INGRESSO_CONTRAPARTIDA|converte_para_real}}
          {% else %} 
            0,00
          {% endif %} 

          {% if conv.VL_CONTRAPARTIDA_CONV == 0 or conv.VL_CONTRAPARTIDA_CONV == None %}
            (<span class="text-danger">0 %</span>)
          {% else %}
            {% if (100*conv.VL_INGRESSO_CONTRAPARTIDA/conv.VL_CONTRAPARTIDA_CONV) == 100 %}
              (<span class="text-success">{{(100*conv.VL_INGRESSO_CONTRAPARTIDA/conv.VL_CONTRAPARTIDA_CONV)|round|int}} %</span>)
            {% else %}
              (<span class="text-danger">{{(100*conv.VL_INGRESSO_CONTRAPARTIDA/conv.VL_CONTRAPARTIDA_CONV)|round|int}} %</span>)
            {% endif %}
          {% endif %}
        </p></td>

      </tr>

      {% endfor %}
    </tbody>

  </table>
</div>


</div>
{% endblock %}
