{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
<h5>Lista de Objetos</h5>

  {% if current_user.is_authenticated %}
    <div>
      <div class="row">
        <div class="col-1">
          <a href="{{url_for('objetos.cria_objeto')}}" class="btn btn-primary active" role="button" aria-pressed="true">Inserir novo</a>
        </div>
        <div class="col">
          <small class="form-text text-muted">Ou clique em um número de sequência para alterar dados do respectivo objeto.</small>
        </div>

  {% endif %}
        <div class="col">
          <form class="form-group" method='POST'>
            {{ form.hidden_tag() }}
              <div class="row">
                <div class="col">
                  {{ form.coord(class="form-control form-control-sm") }}
                </div>
                <div class="col">
                  {{ form.submit(class="btn btn-outline-primary btn-sm") }}
                </div>
              </div>
          </div>
      </div>
<br>

<caption>
  <div class="row">
      <div class="col">
        <p>Lista com <span class="badge badge-pill badge-primary">{{quantidade}}</span>
          <span class="font-weight-bold">Objeto(s)</span> cadastrado(s)
          {% if lista == 'todos' %}
            <span class="text-info font-weight-bold">(todos)</span>
          {% endif %}
          {% if lista == 'em execução' %}
            <span class="text-info font-weight-bold">(vigentes)</span>
          {% endif %}
      </p>
      </div>

  </div>
</caption>

  <table class="table table-striped table-hover table-sm">
    <caption>objetos</caption>
    <thead>
      <tr>
        <th scope="col"><p align = "center">#</p></th>
        <th scope="col"><p align = "center">Unidade</p></th>
        <th scope="col"><p align = "center">Título</p></th>
        <!-- <th scope="col"><p align = "center">Contraparte</p></th> -->
        <th scope="col"><p align = "center">SEI</p></th>
        <th scope="col"><p align = "center">Início</p></th>
        <th scope="col"><p align = "center">Término</p></th>
        <th scope="col"><p align = "center">Valor</p></th>

      </tr>
    </thead>
    <tbody>
      {% for objeto in objetos %}

      <tr>
        <th scope="row"><p align = "center">
          {% if (objetos.index(objeto) + 1) <= quantidade %}
            <a href="{{url_for('objetos.update', objeto_id=objeto[0])}}"><abbr title="Clique aqui atualizar">{{objetos.index(objeto) + 1}}</abbr></a>
          {% endif %}
        </p></th>
        <td><p align = "center"><small> {{objeto.sigla}}</small></p></td>
        <td><p align = "center"><small> {{objeto.nome}}</small></p></td>
        <!-- <td><p align = "center"><small> {{objeto[3]}}</small></p></td> -->
        {% if objeto.sei != None%}
          <td><p align = "center"> <a href="{{url_for('objetos.objeto_demandas', objeto_id=objeto[0])}}"><abbr title="Clique aqui para ver demandas deste objeto"><small> {{objeto.sei}} </small></abbr></a> </p></td>
        {% else %}
          <td><p align = "center"><small> {{objeto.sei}}</small></p></td>
        {% endif %}
        <td>
          <p align = "center">
            <small>
                {% if objeto.data_inicio %}
                  {{objeto.data_inicio.strftime('%d/%m/%Y')}}
                {% else %}
                  N.I.
                {% endif %}  
              </small>
          </p>
        </td>
        <td>
          <p align = "center">
            <small>
                {% if objeto.data_fim %}
                  {{objeto.data_fim.strftime('%d/%m/%Y')}}
                {% else %}
                  N.I.
                {% endif %}  
              </small>
          </p>
        </td>
        <td><p align = "center"><small> {{objeto.valor|converte_para_real}}</small></p></td>
      </tr>

      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}
