{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="jumbotron">

        <div class="card border-primary mb-3">
        <div class="card">

          <div class="card-header">
            <div class="container">
              <div class="row">

                  <h3>Programas e Acordos (Ocorrências no Programa {{sigla}})</h3>

              </div>
            </div>
          </div>

          <div class="card-body">

            <div class="container" style="overflow-y:auto ; height:520px">
              {% for edic in edics %}

                <div class="card">

                  <div class="card-header">
                    <h5><a href="{{url_for('acordos.lista_acordos',lista='edic'+edic.nome|replace('/','#$'),coord='*')}}" data-toggle="tooltip" title="Clique aqui para ver todos os Acordos desta Edição">
                      {{edic.nome}}</a></h5>
                    <h5></h5>
                  </div>

                  <div class="card-body">

                    <div class="row">
                      <div class="col">
                        <span class="font-weight-light">Acordos:</span>
                        <h5 align = "center">{{edic.qtd}} </h5>
                      </div>
                      <div class="col">
                        <span class="font-weight-light">R$ CNPq:</span> <h5 align = "center">{{edic.vl_cnpq|converte_para_real}}</h5>
                      </div>
                      <div class="col">
                        <span class="font-weight-light">R$ EPs:</span> <h5 align = "center">{{edic.vl_epe|converte_para_real}}</h5>
                      </div>
                      <div class="col">
                        <span class="font-weight-light">R$ pago bolsas:</span> <h5 align = "center">{{edic.pago_bolsas|converte_para_real}}</h5>
                      </div>
                      <div class="col">
                        <span class="font-weight-light">R$ pago chamadas:</span> <h5 align = "center">{{edic.pago_chamadas|converte_para_real}}</h5>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col">
                        <span class="font-weight-light">Mães:</span>
                        <h5 align = "center">{{edic.qtd_maes}} </h5>
                      </div>
                      <div class="col">
                        <span class="font-weight-light">Filhos:</span>
                        <h5 align = "center">{{edic.qtd_filhos}} </h5>
                      </div>
                      <div class="col">
                        <span class="font-weight-light">Bolsistas:</span>
                        <h5 align = "center">{{edic.qtd_cpfs}} </h5>
                      </div>
                    </div>

                  </div>

                </div>

              {% endfor %}
            </div>


          </div>
        </div>
      </div>

  </div>
</div>


{% endblock %}
