{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h5>Lista de Processos Filho</h5>

  {% if current_user.is_authenticated %}
    {% if lista == 'mae' %}
      <div>
        <a href="{{url_for('acordos.carrega_sit_sigef', proc_mae=proc_mae.replace('/','_'), prog=prog, edic=edic, epe=epe, uf=uf)}}" class="btn btn-success active" role="button" aria-pressed="true">Carregar Situações</a>
      </div>
    {% endif %}
  {% endif %}
  <br>

<caption>
  <div class="row">
      <div class="col">
        <p>Lista dos <span class="badge badge-pill badge-primary">{{qtd_filhos}}</span>
          {% if lista == 'mae' %}
             <b>Processos filhos</b> do Mãe {{proc_mae.replace('_','/')}} ({{prog}}-{{edic}} {{epe}}-{{uf}})
          {% endif %}
          {% if lista == 'acordo' %}
            <b>Processos filhos</b> do Acordo {{prog}}-{{edic}} {{epe}}-{{uf}}
          {% endif %}
        - Último pagamento referente a <b>{{ max_ult_pag }}</b></p>
      </div>
  </div>
</caption>

<div style="overflow-y:auto ; height:450px">
  <table class="table table-striped table-hover table-sm">

    {% if lista == 'mae' %}
      <caption>Processos filhos do Mãe {{proc_mae}} ({{prog}}-{{edic}} {{epe}}-{{uf}})</caption>
    {% endif %}
    {% if lista == 'acordo' %}
     <caption>Processos filhos do Acordo {{prog}}-{{edic}} {{epe}}-{{uf}}</caption>
    {% endif %}
    <thead>
      <tr>
        <th scope="col"><p align = "center">Processo</p></th>
        <th scope="col"><p align = "center">Nome</p></th>
        <th scope="col"><p align = "center">CPF</p></th>
        <th scope="col"><p align = "center">Mod.-Nív.</p></th>
        <th scope="col"><p align = "center">Sit.</p></th>
        <th scope="col"><p align = "center">Vigência</p></th>
        <th scope="col"><p align = "center">Mens. Pagas</p></th>
        <th scope="col"><p align = "center">Pago</p></th>
        <th scope="col"><p align = "center">Mens. à Pagar</p></th>
        <th scope="col"><p align = "center">à Pagar</p></th>
      </tr>
    </thead>
    <tbody>
      {% for filho in filhos %}
        <tr>
          <td><p align = "center"> {{filho[0]}} </p></td>
          <td><p align = "left"> {{filho[1]}} </p></td>
          <td><p align = "center"> {{filho[2]}} </p></td>
          <td><p align = "center"> {% if filho[4] != None and filho[4] != '  ' and filho[4] != '*' %}
                                     {{filho[3]}}-{{filho[4]}} </p></td>
                                   {% else %}
                                     {{filho[3]}}
                                   {% endif %}
          <td><p align = "center"> {{filho[5]}} </p></td>
          <td><p align = "center"> {{filho[6]}} a {{filho[7]}} </p></td>
          <td><p align = "center"> {{filho[8]}} </p></td>
          <td><p align = "right"> {{filho[9]}} </p></td>
          <td><p align = "center"> {{filho[10]}} </p></td>
          <td><p align = "right"> {{filho[11]}} </p></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>


{% endblock %}
