{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
<h5>Lista de Acordos</h5>


<div>


      <div class="row">
        {% if current_user.is_authenticated %}
          <div class="col-1">
            <a href="{{url_for('acordos.cria_acordo')}}" class="btn btn-primary active" role="button" aria-pressed="true">Inserir novo</a>
          </div>
          <div class="col">
            <small class="form-text text-muted">Ou clique em um número de sequência para alterar dados do respectivo acordo.</small>
          </div>
        {% endif %}
        {% if lista == 'todos' or lista == 'em execução' %}
          <div class="col">
            <form class="form-group" method='POST'>
              {{ form.hidden_tag() }}
                <div class="row">
                  <div class="col-3">
                    {{ form.coord(class="form-control form-control-sm") }}
                  </div>
                  <div class="col">
                    {{ form.submit(class="btn btn-outline-primary btn-sm") }}
                  </div>
                </div>
            </div>
          {% endif %}
      </div>
<br>

<caption>
  <div class="row">
      <div class="col">
        <p>Lista dos <span class="badge badge-pill badge-primary">{{quantidade}}</span>
          <span class="font-weight-bold">Acordos</span> cadastrados
          {% if lista == 'todos' %}
            <span class="text-info font-weight-bold">(todos)</span>
          {% endif %}
          {% if lista == 'em execução' %}
            <span class="text-info font-weight-bold">(em execução)</span>
          {% endif %}
          {% if lista[:8] == 'programa' %}
            <span class="text-info font-weight-bold">({{acordos[0][1]}})</span>
          {% endif %}
          {% if lista[:4] == 'edic' %}
            <span class="text-info font-weight-bold">({{acordos[0][1]}} Edição {{lista[4:]}})</span>
          {% endif %}
          {% if lista[:2] == 'uf' %}
            <span class="text-info font-weight-bold">({{acordos[0][5]}} - {{acordos[0][1]}})</span>
          {% endif %}
        </p>
      </div>
      <div class = "col">
        <p align="right"><a href=/static/acordos.csv class="btn btn-outline-primary" role="button" aria-pressed="true">Download do csv</a></p>
      </div>

  </div>
</caption>
<div style="overflow-y:auto ; height:450px">
  <table id="table"
        data-toggle="table"
        data-filter-control="true"
        data-show-search-clear-button="true"
        data-sortable="true"
        classes="table-sm"
        data-show-columns="true"
        data-show-columns-toggle-all="true"
        class="table table-striped table-hover table-sm">
    <caption>Acordos</caption>
    <thead>
      <tr>
        <th scope="col"><p align = "center">#</p></th>
        <th scope="col"data-field="Unid." data-filter-control="input" data-sortable="true"><p align = "center">Unid.</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Progs.</p></th>
        <th scope="col" data-field="Edição" data-filter-control="input" data-sortable="true"><p align = "center">Edição/Sigla</p></th>
        <th scope="col" data-sortable="true"><p align = "center">SEI</p></th>
        <th scope="col" data-field="EP UF" data-filter-control="input" data-sortable="true"><p align = "center">EP UF</p></th>
        <th scope="col" data-field="Situação" data-filter-control="input" data-sortable="true"><p align = "center">Situação</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Ini.</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Fim</p></th>
        <th scope="col"><p align = "center">Global (R$)</p></th>
        <th scope="col"><p align = "center">Mães</p></th>
        <th scope="col"><p align = "center">Filhos</p></th>
        <th scope="col"><p align = "center">CPFs</p></th>
        <th scope="col"><p align = "center">Pago (B)</p></th>
        <th scope="col"><p align = "center">A pagar (B)</p></th>
        <th scope="col"><p align = "center">Saldo</p></th>
      </tr>
    </thead>
    <tbody>
      {% for acordo in acordos %}

      <tr>
        <th scope="row"><p align = "center">
          {% if (acordos.index(acordo) + 1) <= quantidade %}
            <a href="{{url_for('acordos.update', acordo_id=acordo[0], lista=lista)}}"><abbr title="Clique aqui para detalhes do Acordo">{{acordos.index(acordo) + 1}}</abbr></a>
          {% endif %}
        <td><p align = "center"><small> {{acordo[15]}}</small></p></td>
        <td><p align = "center">
              <a href="{{url_for('acordos.lista_programas_acordo', id_acordo=acordo[0])}}"><abbr title="Clique para programas"><small> {{acordo[21]}}</small></abbr></a>
            </p></td>
        <td><p align = "center">
              <a href="{{url_for('acordos.update', acordo_id=acordo[0], lista=lista)}}">
              <abbr title="{% if acordo[22] %} {{acordo[20]}} - SIAFI: {{acordo[22]}} {% else %} {{acordo[20]}} {% endif %}"> <small> {{acordo[2]}}</small></abbr></a>
            </p></td>
        {% if acordo[3] != None%}
          <td><p align = "center"> <a href="{{url_for('acordos.acordo_demandas', acordo_id=acordo[0])}}"><abbr title="Clique aqui para ver demandas deste acordo"><small> {{acordo[3]}} </small></abbr></a> </p></td>
        {% else %}
          <td><p align = "center"><small> {{acordo[3]}}</small></p></td>
        {% endif %}
        <td><p align = "center"><small> {{acordo[4]}} {{acordo[5]}}</small></p></td>
        <td><p align = "center"><small> {% if acordo[19] == "Esquecido"%}
                                          <abbr title="Vigência registrada, mas sem processo-mãe associado a mais de 90 dias!"><span class='text-danger'>Vigente</span></abbr>
                                        {% elif acordo[19] == "Preparação"%}
                                          <abbr title="Como não tem vigência registrada, deve estar em preparação ainda!"><span class='text-warning'>{{acordo[19]}}</span></abbr>
                                        {% elif acordo[19] == "Vigente"%}
                                          <abbr title="Opa! A vigência está registrada e tem processo-mãe associado! Isto é bom!"><span class='text-success'>{{acordo[19]}}</span></abbr>
                                        {% elif acordo[19] == "Assinado"%}
                                          <abbr title="Tem vigência registrada, mas sem processo-mãe associado. Se demorar mais de 90 dias, fica esquecido!"><span class='text-info'>{{acordo[19]}}</span></abbr>
                                        {% elif acordo[19] == "Aguarda Folha"%}
                                          <abbr title="Já foi criado um processo-mãe, mas não há demanda de indicação de bolsista na PiCC."><span class='text-primary'>{{acordo[19]}}</span></abbr>
                                        {% elif acordo[19] == "Consta indicação de bolsista"%}
                                          <abbr title="Já foi criado um processo-mãe e existe demanda de indicação de bolsista na PICC."><span class='text-primary'>{{acordo[19]}}</span></abbr>
                                        {% elif acordo[19] == "Expirado (RTF aprovado)" or acordo[19] == "Expirado (RTF APROVADO!)"%}
                                          <abbr title="Parece que acabou!"><span class='text-dark'>{{acordo[19]}}</span></abbr>
                                        {% elif acordo[19] == "Expirado (71 - mãe e filhos)" or acordo[19] == "Expirado (sit. 71 mãe(s) e filho(s))"%}
                                          <abbr title="Parece que acabou, mas é melhor conferir no processo!">{{acordo[19]}}</abbr>
                                        {% elif acordo[19] == "Não executado" %}
                                          <abbr title="Nenhuma bolsa foi implementada neste acordo ou ele nem foi celebrado...">{{acordo[19]}}</abbr>
                                        {% else %}
                                          <abbr title="Precisa ver a situação do RTF e, talvez, dos filhos!"><span class='text-warning bg-secondary'>{{acordo[19]}}</span></abbr>
                                        {% endif %}
                                </small></p></td>
        {% if acordo[6] == None or acordo[6] == '' %}
          <td><p align = "center"><small>Não registrado</small></p></td>
        {% else %}
          <td><p align = "center"><small> {{acordo[6]}}</small></p></td>
        {% endif %}
        {% if acordo[7] == None or acordo[7] == '' %}
          <td><p align = "center"><small>Não registrado</small></p></td>
        {% else %}
          {% if acordo[16] <= 30 and acordo[16] >= 0 %}
            <td><p align = "center" class="bg-danger text-white font-weight-bold"><small> {{acordo[7]}}</small> </p></td>
          {% elif acordo[16] <= 60 and acordo[16] > 30 %}
            <td><p align = "center" class="bg-warning text-dark font-weight-bold"><small> {{acordo[7]}}</small> </p></td>
          {% elif acordo[16] <= 90 and acordo[16] > 60 %}
            <td><p align = "center" class="bg-secondary text-white font-weight-bold"><small> {{acordo[7]}}</small> </p></td>
          {% else %}
            <td><p align = "center"> <small> {{acordo[7]}}</small> </p></td>
          {% endif %}
        {% endif %}
        <td><p align = "right"><small>  {{acordo[8]}}</small></p></td>
        {% if acordo[1] != None%}
          <td><p align = "center">
            <a href="{{url_for('acordos.lista_processos_mae_por_acordo',acordo_id=acordo[0])}}">
              <small class="font-weight-bold"> {{acordo[10]}}</small></a></p></td>
        {% else %}
          <td><p align = "center">
            <a href="{{url_for('acordos.lista_processos_mae_por_acordo',acordo_id=acordo[0])}}">
              <small> {{acordo[10]}}</small></a></p></td>
        {% endif %}

        {% if acordo[1] != None%}
          <td><p align = "center">
            <a href="{{url_for('acordos.lista_processos_filho_por_acordo',acordo_id=acordo[0])}}">
              <small class="font-weight-bold"> {{acordo[11]}}</small></a></p></td>
        {% else %}
          <td><p align = "center">
            <a href="{{url_for('acordos.lista_processos_filho_por_acordo',acordo_id=acordo[0])}}">
              <small> {{acordo[11]}}</small></a></p></td>
        {% endif %}

        {% if acordo[1] != None%}
          <td><p align = "center">
            <a href="{{url_for('acordos.lista_bolsistas_acordo',acordo_id=acordo[0])}}">
              <small class="font-weight-bold"> {{acordo[18]}}</small></a></p></td>
        {% else %}
          <td><p align = "center">
            <a href="{{url_for('acordos.lista_bolsistas_acordo',acordo_id=acordo[0])}}">
              <small> {{acordo[18]}}</small></a></p></td>
        {% endif %}

        <td><p align = "center"><small> {{acordo[12]}}</small></p></td>
        <td><p align = "right"><small>  {{acordo[13]}}</small></p></td>
        <td><p align = "right"><small>  {{acordo[14]}}</small></p></td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>
</div>

{% endblock %}