{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h5>Lista dos Programas CNPq (Acordos/TEDs) da sua unidade</h5>

  {% if current_user.is_authenticated %}
    <div>
      <a href="{{url_for('acordos.cria_programa_cnpq')}}" class="btn btn-primary active" role="button" aria-pressed="true">Inserir novo</a>
      <small class="form-text text-muted">Ou clique em um número de sequência para alterar dados do respectivo programa.</small>
    </div>
  {% endif %}
<br>

<caption>
  <div class="row">
      <div class="col">
        <p>Lista dos <span class="badge badge-pill badge-primary">{{quantidade}}</span> programas CNPq cadastrados
        </p>
      </div>

  </div>
</caption>

<div class="container" style="overflow-y:auto ; height:450px">
  <table class="table table-striped table-hover table-sm">
    <caption>Programas do CNPq</caption>
    <thead>
      <tr>
        <th scope="col"><p align = "center">#</p></th>
        <th scope="col"><p align = "center">Código</p></th>
        <th scope="col"><p align = "center">Nome</p></th>
        <th scope="col"><p align = "center">Sigla</p></th>
        <th scope="col"><p align = "center">Coordenação</p></th>
      </tr>
    </thead>
    <tbody>

      {% for prog in programas %}

      <tr>
        <th scope="row">
          <p align = "center">
            {% if (programas.index(prog) + 1) <= quantidade %}
              {{programas.index(prog) + 1}}
            {% endif %}
          </p>
        </th>  
        <td><p align = "center"> {{prog.COD_PROGRAMA}} </p></td>
        <td><p align = "center"> {{ prog.NOME_PROGRAMA }} </p></td>
        <td><p align = "center"> {{ prog.SIGLA_PROGRAMA }} </p></td>
        <td><p align = "center"> {{ prog.COORD }} </p></td>
      </tr>

      {% endfor %}

    </tbody>
  </table>

</div>

</div>
{% endblock %}
