{% extends "base.html" %}
{% block content %}

<caption>
  <div class="row">
      <div class="col-8">
        <p style="text-indent:20px;">Resumo dos Acordos EM EXECUÇÃO por UF e por Programa (Quantidade de convênios e valor global acumulado)
        </p>
      </div>
  </div>
</caption>

<div class="container-fluid bg-light" >
  <div class="table-responsive" style="overflow-y:auto ; height:600px">
  <table class="table table-bordered table-sm">
    <caption>Acordos</caption>
    <thead>
      <tr>
        <th scope="col" class="border border-dark"><p align = "center">UF</p></th>
        {% for programa in programas %}
          <th scope="col" colspan="2" class="border border-dark">
            <p align = "center" class="fs-6">
              <a href="{{url_for('acordos.lista_acordos', lista='v_programa'+programa.split('*')[1],coord='usu')}}">
                <span class="font-weight-bold small">{{programa.split('*')[0]}}</span> </a>
            </p></th>
        {% endfor %}
      </tr>
    </thead>

    <tbody>

      {% for linha in linhas %}
        <tr>
          <th scope="row" class="border border-dark"><p align = "center">
            <a href="{{url_for('acordos.lista_acordos', lista='UF'+linha[0][0],coord='usu')}}"> {{linha[0][0]}} </a></p></th>
          {% for item in linha %}
            <td class="border border-dark border-right-0">

              {% if item[2] != 0 %}
              <div style="text-align: center;">
                <a href="{{url_for('acordos.lista_acordos', lista='PROG_UF'+linha[0][0]+linha[0][4],coord='usu')}}">
                <span class="font-weight-bold small">{{item[2]}}</span> </a>
                <br>
                <span class="small">{% if item[3] != '' and item[3] != None and item[3] != 0 %}R$ {{item[3]|converte_para_real}}{% endif %} </span>
              </div>
              {% endif %}
            </td>
            <td class="border border-dark border-left-0"> </td>
          {% endfor %}
        </tr>
      {% endfor %}

    </tbody>

  </table>
</div>
</div>

<!-- </div> -->

{% endblock %}
