{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="jumbotron">

        <div class="card border-primary mb-3">
        <div class="card">

          <div class="card-header">
            <div class="container">
              <div class="row">

                  <h3>Programas e Acordos/TEDs</h3>

              </div>
            </div>
          </div>

          <div class="card-body">

            <div class="container" style="overflow-y:auto ; height:450px">
              {% for programa in programas %}

                <div class="card">

                  <div class="card-header">
                    <h5><a href="{{url_for('acordos.lista_acordos',lista='programa'+programa.COD_PROGRAMA,coord='*')}}" data-toggle="tooltip" title="Clique aqui para ver todos os Acordos deste Programa">
                      {{programa.SIGLA_PROGRAMA}} ({{programa.COD_PROGRAMA}})</a></h5>
                    <h5></h5>
                  </div>

                  <div class="card-body">

                    <div class="row">
                      <div class="col">
                        <h5>
                          {% if programa.qtd_edic == 1 %}
                            <a href="{{url_for('acordos.edic_programa',cod_programa=programa.COD_PROGRAMA,sigla=programa.SIGLA_PROGRAMA)}}" data-toggle="tooltip" title="Clique aqui para ver a Edição deste Programa">
                              {{programa.qtd_edic}} Nome</a>
                          {% else %}
                            <a href="{{url_for('acordos.edic_programa',cod_programa=programa.COD_PROGRAMA,sigla=programa.SIGLA_PROGRAMA)}}" data-toggle="tooltip" title="Clique aqui para ver as Edições deste Programa">
                              {{programa.qtd_edic}} Nomes</a>
                          {% endif %} </h5>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col">
                        <span class="font-weight-light">Acordos:</span>
                        <h5 align = "center">{{programa.qtd}} </h5>
                      </div>
                      <div class="col">
                        <span class="font-weight-light">R$ CNPq:</span> <h5 align = "center">{{programa.vl_cnpq|converte_para_real}}</h5>
                      </div>
                      <div class="col">
                        <span class="font-weight-light">R$ EPs:</span> <h5 align = "center">{{programa.vl_epe|converte_para_real}}</h5>
                      </div>
                      <div class="col">
                        <span class="font-weight-light">R$ pago bolsas:</span> <h5 align = "center">{{programa.pago_bolsas|converte_para_real}}</h5>
                      </div>  
                      <div class="col">
                        <span class="font-weight-light">R$ pago chamadas:</span> <h5 align = "center">{{programa.pago_chamadas|converte_para_real}}</h5>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col">
                        <span class="font-weight-light">Mães:</span>
                        <h5 align = "center">{{programa.qtd_maes}} </h5>
                      </div>
                      <div class="col">
                        <span class="font-weight-light">Filhos:</span>
                        <h5 align = "center">{{programa.qtd_filhos}} </h5>
                      </div>
                      <div class="col">
                        <span class="font-weight-light">Bolsistas:</span>
                        <h5 align = "center">{{programa.qtd_cpfs}} </h5>
                      </div>
                    </div>

                  </div>

                </div>

              {% endfor %}

            </div>

          </div>

        </div>
      </div>

  </div>
</div>resumo

{% endblock %}
